span.cmtnumber {
  position: relative;
  left: -100px;
  display: block;
  height: 0px;
}

div.cmtheader {
  background: transparent none repeat scroll 0% 0% !important;
  border-bottom: 2px solid #444;
  margin-bottom: 0.5em;
}

span.cmtdate {
  margin-left: 1em;
}

span.cmtdate a {
  color: #828282;
  text-decoration: none;
}

div.cmtbox textarea {
  max-width: 100% !important;
}

div.cmtdata blockquote p {
    text-align: left !important;
}

div#hashover div.cmtbubble {
    margin-bottom: 3em;
}

div#hashover h1 {
	margin-top: 1em;
	font-size: 150%;
}

div.cmtbox {
	top: -80px;
	position: relative;
}

input.opt-name, input.opt-email {
	width: 95%;
	margin-bottom: 0.5em;
	font-weight: bold;
	background: none;
  border: none;
  border-bottom: 2px solid #444;
	font-family: "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
  font-size:   20px;
}

div.cmtbox textarea {
	background: none;
  border: none;
	font-family: "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
  font-size:   20px;
	padding: 0;
}

input.post_cmt {
	background: none;
	font-weight: bold;
  border: 2px solid #444;
	font-family: "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
  font-size:   20px;
}
